/Aluno.class
/CriandoStreams.class
/DesafioFiltro.class
/DesafioMap.class
/Filter.class
/ImprimindoObjetos.class
/Map.class
/Match.class
/Media.class
/MediaTeste.class
/MinMax.class
/Outros.class
/Reduce1.class
/Reduce2.class
/Reduce3.class
/Spaceship.class
/Utilitarios.class
